* {
    margin: 0;
    padding: 0;
}

th,
td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.table_yoil {
    background-color: rgb(0, 17, 255);
    height: 50px;
}

.table_major {
    color: blue;
}

.title {
    font-size: 35px;
    height: 100px;
}

.table_all tr {
    border: 1px solid black;
    width: 900px;
    margin: auto;
}

.table_all th {
    border: 1px solid black;
    width: 900px;
    margin: auto;
}

.table_all td {
    border: 1px solid black;
    width: 900px;
    margin: auto;
}

td:hover {
    color: white;
    background-color: blue;
}